body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.divTable{
    display: table;
    width: 10%;
    text-align: center;
}
#GAME.divTable{
    display: table;
    width: 10%;
    text-align: center;
    table-layout: fixed;

}
.divTableRow {
    display: table-row;
}

.divTableSelectedRow {
    display: table-row;
    background-color: lightblue;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
}
.divTableCell, .divTableHead {
    border: 1px solid #999999;
    display: table-cell;
    align-content: center;
    position: relative;
    padding: 20px 20px;
    height: 25px;
    width: 25px;
}

#rocket.divTableCell{
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
    //display: block;
    //width:  50%;
    position: relative;
    background-image: url('rocket.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    align-content: center;
}

.divTableCell:after{
    display: block;
    padding-bottom: 100%;
}

#hole.divTableCell{
    background-color: black;
//background-image: ;
}
#storage.divTableCell{
    background-color: ghostwhite;
    color: black;
    font-weight: bold;
//display: block;
//width:  50%;
    position: relative;
    background-image: url('storage.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    align-content: center;
}

#mountain.divTableCell{
    background-color: white;
    color: darkorange;
//display: block;
//width:  50%;
    position: relative;
    background-image: url('mountain.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    align-content: center;
}


#robo.divTableCell{
    background-color: springgreen;
//background-image: ;
}












.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}
.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}
.divTableBody {
    display: table-row-group;
}

.flex-container {
    display: flex;
    background-color: #f1f1f1;
    align-items: center;
}

.flex-container > div {
    background-color: white;
    color: black;
    width: 100px;
    margin: 10px;
    text-align: center;
    align-items: center;
    line-height: 75px;
    font-size: 30pt;
    //font-weight: bolder;
}
input[type="number"]
{
    width: 100%;
    font-size:24pt;
}

.compose-main-container {
    display: grid;
    grid-template-columns: 200px;
    grid-gap: 10px;
}
.compose-step-container {
    display: grid;
    grid-template-columns:
            100px
            100px 100px 100px
            100px 100px 100px
            100px 100px 100px;
    grid-gap: 10px;
}

.grid-item {
    color: black;
    background-color: aqua;
    padding: 1.5em 0;
    font-size: 2em;
}


.flex-container-menu {
    display: flex;
    //background-color: #61dafb;
    align-items: flex-start;
}






button {
    border: 1px solid #0066cc;
    background-color: white;
    color: black;
    padding: 5px 10px;
}

button:hover {
    border: 1px solid #0099cc;
    background-color: #00aacc;
    color: #ffffff;
    padding: 5px 10px;
}

button:disabled,
button[disabled]{
    border: 1px solid #999998;
    background-color: lightblue;
}